<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  Users
  <a href="/user/create">Add new user</a>
  <a href="/overview">Overview</a>
  <table>
      <thead>
        <tr>
            <td>Username</td>
            <td>First name</td>
            <td>Last name</td>
            <td>Email</td>
            <td>Role</td>
        </tr>
      </thead>
      <tbody>
        <tr th:each="user: ${users}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.role}"></td>
            <td><a th:href="@{/user/update/{id}(id=${user.id})}">Edit</a></td>
            <td><a th:href="@{/user/delete/{id}(id=${user.id})}">Delete</a></td>
        </tr>
      </tbody>
  </table>
</body>
</html>