<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Skywise | Welcome</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/css/overview.css}" rel="stylesheet"/>
</head>
<body>
<nav th:replace="fragments/layout :: header"></nav>
<section th:class="content">
    <aside th:replace="fragments/layout :: aside-nav"></aside>
    <div th:class="main-content">
        <div class="table-wrapper">
            <h2>Upcoming flights</h2>
            <p th:if="${flights.isEmpty()}">No upcoming flights</p>
            <table th:if="${not #lists.isEmpty(flights)}">
                <thead>
                <tr>
                    <td>Departure airport</td>
                    <td>Arrival airport</td>
                    <td>Departure time</td>
                    <td>Plane</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="flight: ${flights}">
                    <td th:text="${flight.fromICAO}"></td>
                    <td th:text="${flight.toICAO}"></td>
                    <td th:text="${#dates.format(flight.fromTime * 1000, 'yyyy-MM-dd HH:mm')}"></td>
                    <td th:text="${flight.plane.registration}"></td>
                    <td class="flex">
                        <a class="image-link" th:href="@{/flight/detail/{id}(id=${flight.id})}">
                            <img alt="detail" th:src="@{/images/detail.svg}"/>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="table-wrapper" sec:authorize="hasAnyRole('ADMIN', 'TECHNICIAN')">
            <h2>Repairs</h2>
            <p th:if="${repairs.isEmpty()}">No repairs</p>
            <table th:if="${not #lists.isEmpty(repairs)}">
                <thead>
                <tr>
                    <td>Plane</td>
                    <td>Technician</td>
                    <td>Repair</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="repair: ${repairs}">
                    <td th:text="${repair.plane.recognitionString}"></td>
                    <td th:text="${repair.user.toString()}"></td>
                    <td th:text="${repair.repairName}"></td>
                    <td class="flex">
                        <a class="image-link" th:href="@{/repair/detail/{id}(id=${repair.id})}">
                            <img alt="detail" th:src="@{/images/detail.svg}"/>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="table-wrapper" sec:authorize="hasAnyRole('ADMIN', 'PLANNER', 'PILOT', 'TECHNICIAN')">
            <h2>Fleet</h2>
            <p th:if="${planes.isEmpty()}">No plane</p>
            <table th:if="${not #lists.isEmpty(planes)}">
                <thead>
                <tr>
                    <td>Plane</td>
                    <td>Registration</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="plane: ${planes}">
                    <td th:text="${plane.type}"></td>
                    <td th:text="${plane.registration}"></td>
                    <td class="flex">
                        <a class="image-link" th:href="@{/plane/detail/{id}(id=${plane.id})}">
                            <img alt="detail" th:src="@{/images/detail.svg}"/>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<footer th:replace="fragments/layout :: footer">
</footer>
</body>
</html>
