<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skywise | Create flight</title>
</head>
<body>
    <h2>Create flight</h2>
    <form th:action="@{/flight/create}" method="post">
        <div>
            <label for="pilot">Pilot:</label>
            <select id="pilot" name="pilotID">
                <option th:each="pilot: ${pilots}" th:value="${pilot.id}" th:text="${pilot.username}">
                </option>
            </select>
        </div>
        <div>
            <label for="copilot">Copilot:</label>
            <select id="copilot" name="copilotID">
                <option th:each="pilot: ${pilots}" th:value="${pilot.id}" th:text="${pilot.username}">
                </option>
            </select>
        </div>
        <div>
            <label for="flightAttendant">Flight attendant:</label>
            <select id="flightAttendant" name="flightAttendantID">
                <option th:each="fa: ${flightAttendants}" th:value="${fa.id}" th:text="${fa.username}">
                </option>
            </select>
        </div>
        <div>
            <label for="plane">Plane:</label>
            <select id="plane" name="planeID">
                <option th:each="plane: ${planes}" th:value="${plane.id}" th:text="${plane.recognitionString}">
                </option>
            </select>
        </div>
        <div>
            <label for="fromICAO">Departure airport(ICAO):</label>
            <input type="text" id="fromICAO" name="fromICAO"/>
        </div>
        <div>
            <label for="fromGate">Departure gate:</label>
            <input type="text" id="fromGate" name="fromGate"/>
        </div>
        <div>
            <label for="fromTime">Departure time:</label>
            <input type="datetime-local" id="fromTime" name="fromTime"/>
        </div>
        <div>
            <label for="toICAO">Arrival airport(ICAO):</label>
            <input type="text" id="toICAO" name="toICAO"/>
        </div>
        <div>
            <label for="toGate">Arrival gate:</label>
            <input type="text" id="toGate" name="toGate"/>
        </div>
        <div>
            <label for="toTime">Arrival time:</label>
            <input type="datetime-local" id="toTime" name="toTime"/>
        </div>
        <div>
            <label for="route">Generated route:</label>
            <textarea id="route" name="route" disabled></textarea>
        </div>
        <div>
            <button type="submit">Add</button>
        </div>
    </form>
</body>
</html>