<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skywise | Create flight</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" th:href="@{/css/forms.css}"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>
<body>
<nav th:replace="fragments/layout :: header"></nav>
<section th:class="content">
    <aside th:replace="fragments/layout :: aside-nav"></aside>
    <div th:class="main-content">
        <div class="form-wrapper margin-left">
            <h2>Create flight</h2>
            <form method="post" th:action="@{/flight/create}">
                <div>
                    <label for="pilot">Pilot:</label>
                    <select id="pilot" name="pilotID">
                        <option th:each="pilot: ${pilots}" th:text="${pilot.username}" th:value="${pilot.id}">
                        </option>
                    </select>
                </div>
                <div>
                    <label for="copilot">Copilot:</label>
                    <select id="copilot" name="copilotID">
                        <option th:each="pilot: ${pilots}" th:text="${pilot.username}" th:value="${pilot.id}">
                        </option>
                    </select>
                </div>
                <div>
                    <label for="flightAttendant">Flight attendant:</label>
                    <select id="flightAttendant" name="flightAttendantID">
                        <option th:each="fa: ${flightAttendants}" th:text="${fa.username}" th:value="${fa.id}">
                        </option>
                    </select>
                </div>
                <div>
                    <label for="plane">Plane:</label>
                    <select id="plane" name="planeID">
                        <option th:each="plane: ${planes}" th:text="${plane.recognitionString}" th:value="${plane.id}">
                        </option>
                    </select>
                </div>
                <div>
                    <label for="flightNumber">Flight number:</label>
                    <input id="flightNumber" name="flightNumber" type="text"/>
                </div>
                <div class="grid">
                    <div>
                        <label for="fromICAO">Departure ICAO:</label>
                        <input id="fromICAO" name="fromICAO" type="text"/>
                    </div>
                    <div>
                        <label for="toICAO">Arrival ICAO:</label>
                        <input id="toICAO" name="toICAO" type="text"/>
                    </div>
                </div>
                <div class="grid">
                    <div>
                        <label for="fromGate">Departure gate:</label>
                        <input id="fromGate" name="fromGate" type="text"/>
                    </div>
                    <div>
                        <label for="toGate">Arrival gate:</label>
                        <input id="toGate" name="toGate" type="text"/>
                    </div>
                </div>
                <div>
                    <label for="fromTime">Departure time:</label>
                    <input id="fromTime" name="fromTime" type="datetime-local"/>
                </div>
                <div>
                    <label for="toTime">Arrival time:</label>
                    <input id="toTime" name="toTime" type="datetime-local"/>
                </div>
                <div>
                    <label for="route">Generated route:</label>
                    <textarea id="route" name="route"></textarea>
                </div>
                <div>
                    <button type="submit">Add</button>
                </div>
            </form>
        </div>
    </div>
</section>
<footer th:replace="fragments/layout :: footer"></footer>
</body>
</html>