<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Skywise | Flights</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/overview.css}"/>
</head>
<body>
<nav th:replace="fragments/layout :: header"></nav>
<section th:class="content">
    <aside th:replace="fragments/layout :: aside-nav"></aside>
    <div th:class="main-content">
        <div class="table-wrapper">
            <div class="flex flex-align-center">
                <h2>Flights</h2>
                <a class="image-link" href="/flight/create" sec:authorize="hasAnyRole('ADMIN', 'PLANNER')">
                    <img alt="add" th:src="@{/images/plus.svg}"/>
                </a>
            </div>
            <table>
                <thead>
                <tr>
                    <td>Plane</td>
                    <td>Departure airport</td>
                    <td>Departure time</td>
                    <td>Arrival airport</td>
                    <td>Arrival time</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="flight: ${flights}">
                    <td th:text="${flight.plane.recognitionString}"></td>
                    <td th:text="${flight.fromICAO}"></td>
                    <td th:text="${#dates.format(flight.fromTime * 1000, 'yyyy-MM-dd HH:mm')}"></td>
                    <td th:text="${flight.toICAO}"></td>
                    <td th:text="${#dates.format(flight.toTime * 1000, 'yyyy-MM-dd HH:mm')}"></td>
                    <td class="flex">
                        <a class="image-link"
                           th:href="@{/flight/detail/{id}(id=${flight.id})}">
                            <img alt="detail" th:src="@{/images/detail.svg}"/>
                        </a>
                        <a class="image-link"
                           th:href="@{/flight/update/{id}(id=${flight.id})}"
                           sec:authorize="hasAnyRole('ADMIN', 'PLANNER')">
                            <img alt="edit" th:src="@{/images/edit.svg}"/>
                        </a>
                        <a class="image-link"
                           th:href="@{/flight/delete/{id}(id=${flight.id})}"
                           sec:authorize="hasAnyRole('ADMIN', 'PLANNER')">
                            <img alt="delete" th:src="@{/images/delete.svg}"/>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<footer th:replace="fragments/layout :: footer"></footer>
</body>
</html>