<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skywise | Update flight</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" th:href="@{/css/forms.css}"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>
<body>
<nav th:replace="fragments/layout :: header"></nav>
<section th:class="content">
    <aside th:replace="fragments/layout :: aside-nav"></aside>
    <div th:class="main-content">
        <div class="form-wrapper margin-left">
            <h2>Update flight</h2>
            <form method="post" th:action="@{/flight/update/{flightID}(flightID=${flight.id})}">
                <div>
                    <label for="pilot">Pilot:</label>
                    <select id="pilot" name="pilotID">
                        <option th:each="pilot: ${pilots}"
                                th:selected="${pilot.id == flight.pilot.id}"
                                th:text="${pilot.username}"
                                th:value="${pilot.id}">
                        </option>
                    </select>
                </div>
                <div>
                    <label for="copilot">Copilot:</label>
                    <select id="copilot" name="copilotID">
                        <option th:each="pilot: ${pilots}"
                                th:selected="${pilot.id == flight.copilot.id}"
                                th:text="${pilot.username}"
                                th:value="${pilot.id}">
                        </option>
                    </select>
                </div>
                <div>
                    <label for="flightAttendant">Flight attendant:</label>
                    <select id="flightAttendant" name="flightAttendantID">
                        <option th:each="fa: ${flightAttendants}"
                                th:selected="${fa.id == flight.flightAttendant.id}"
                                th:text="${fa.username}"
                                th:value="${fa.id}">
                        </option>
                    </select>
                </div>
                <div>
                    <label for="plane">Plane:</label>
                    <select id="plane" name="planeID">
                        <option th:each="plane: ${planes}"
                                th:selected="${plane.id == flight.plane.id}"
                                th:text="${plane.recognitionString}"
                                th:value="${plane.id}">
                        </option>
                    </select>
                </div>
                <div>
                    <label for="fromICAO">Departure airport(ICAO):</label>
                    <input id="fromICAO" name="fromICAO" th:value="${flight.fromICAO}" type="text"/>
                </div>
                <div>
                    <label for="fromGate">Departure gate:</label>
                    <input id="fromGate" name="fromGate" th:value="${flight.fromGate}" type="text"/>
                </div>
                <div>
                    <label for="fromTime">Departure time:</label>
                    <input id="fromTime"
                           name="fromTime"
                           th:value="${#dates.format(flight.fromTime * 1000, 'yyyy-MM-dd HH:mm:ss')}"
                           type="datetime-local"/>
                </div>
                <div>
                    <label for="toICAO">Arrival airport(ICAO):</label>
                    <input id="toICAO" name="toICAO" th:value="${flight.toICAO}" type="text"/>
                </div>
                <div>
                    <label for="toGate">Arrival gate:</label>
                    <input id="toGate" name="toGate" th:value="${flight.fromGate}" type="text"/>
                </div>
                <div>
                    <label for="toTime">Arrival time:</label>
                    <input id="toTime"
                           name="toTime"
                           th:value="${#dates.format(flight.toTime * 1000, 'yyyy-MM-dd HH:mm:ss')}"
                           type="datetime-local"/>
                </div>
                <div>
                    <label for="route">Generated route:</label>
                    <textarea disabled id="route" name="route" th:text="${flight.route}"></textarea>
                </div>
                <div>
                    <button type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
</section>
<footer th:replace="fragments/layout :: footer"></footer>
</body>
</html>